# Base URLs
API_BASE_URL=https://enter.tochka.com
TOCHKA_SANDBOX_API_BASE_URL=https://enter.tochka.com/sandbox/v2

# Account configuration
ACCOUNT_ID=12345678901234567890/044525104
TOCHKA_USE_SANDBOX=true

# Output configuration
OUTPUT_CSV_FILE=statements.csv

# Authentication
CLIENT_ID=test_app
CLIENT_SECRET=test_secret
ACCESS_TOKEN=working_token
REDIRECT_URI=http://localhost/